* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  width: 100vw;
  display: flex;

  justify-content: center;
  align-items: center;
  background-color: rgb(14, 1, 24);
}

.main {
  display: flex;
  flex-direction: column;
  align-content: center;
  /* width: 50rem; */
  justify-content: center;
  text-align: center;
  margin: 20px auto;
}

.main h1 {
  font-size: 10px;
  color: white;
}

.main h2 {
  display: inline-block;
  background: rgb(255, 181, 251);
  border-radius: 20px;
  margin: 6px;
  padding: 12px 5px;
}

button {
  margin: 6px;
  width: 12rem;
  padding: 12px 5px;
  border-radius: 20px;
  border: none;
  background-color: rgb(231, 212, 240);
  box-shadow: 1px 1px 3px black;
}

#pauseGame {
  display: none;
}
button:hover {
  cursor: pointer;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 390px;
  
}
.square {
  width: 90px;
  height: 90px;
  border: 1px solid black;
  box-shadow: 1px 3px 5px rgb(150, 45, 255);
  margin: 10px;
}

.mole {
  background: url("./mole.png");
  background-size: cover;
}
